{% extends 'partials/_master.twig' %}

{% block main %}
	<article class="article">

		<section class="bg-gray-100 text-gray w-full">

			<div class="px-6 md:px-12 py-12 grid gap-2 justify-items-center grid-cols-3 sm:grid-cols-4 md:grid-cols-5  sm:gap-6">

				{% for record in records %}
					<a href="{{ record|link }}">
						<div class="flex flex-col items-center justify-start mb-2" style="max-width: 200px;">


							{% if record|image %}
								<img class="rounded-full mx-auto shadow mb-2" src="{{ record|thumbnail(300, 300, fit="crop") }}">
							{% endif %}
							<name class='text-center text-lg'>
								{{ record.name }}
							</name>
							<p class='text-center text-sm'>{{ record.description }}
							</p>
							
						</div>
					</a>

				{% else %}

					<h2 class="text-2xl font-medium text-black title-font mb-2">{{ __('general.phrase.no-content-found') }}</h2>

				{% endfor %}

			</div>

		</section>
	</article>
{% endblock main %}
